@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
$color-primary: navy;
$color-primary-text: white;
$color-secondary: rgb(86, 116, 207);
$color-secondary-text: black;

* {
  font-family: Roboto;
}
body {
  padding: 0px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#root {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow: clip;
  .header {
    position: sticky;
    top: 0;
    display: flex;
    height: 4rem;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    background-color: $color-primary;
    .header-content {
      width: 100%;
      max-width: 1300px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 1rem;
      a:visited, a{
        color: $color-primary-text;
        text-decoration: none;
      }
      .first{
        gap:3rem;
        align-items: center;
        a{
          align-items: center;
          p{
            font-size: 1.2rem;
            font-weight: 500;
          }
        }
      }
    }
    * {
      margin: 0;
      padding: 0;
    }
  }
  .content {
    max-width: 1300px;
    justify-self: center;
    display: flex;
    margin: 1rem;
    margin-top: 0;
    padding: 1rem;
    .shop-items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 35px;
      justify-content: space-around;
    
    }
  }
  .footer{
      margin-top: auto;
      width: 100vw;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      background-color: $color-primary;
      justify-content: center;
      color: $color-primary-text;
      padding: 0.5em;
      align-items: center;
      p {
        padding: 0em;
        margin: 0.2em;
        margin-right: 0;
      }
      a {
        color: $color-primary-text;
        text-decoration: none;
        display: flex;
        text-align: center;
        align-content: center;
        align-items: center;
        img {
          height: 1.3em;
          filter: invert(100%) ;
          margin-right: 5px;
        }
      }
  }
  
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: row;
}
button{
  background-color: $color-primary;
  color: $color-primary-text;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 1rem;
}

.item-container {
  flex: 1 1 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
  min-width: 250px;
  h5{
    font-size: 1rem;
  }
  .image-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-self: center;
    z-index: -1;
    img {
      width: 100%;
      height: auto;
      object-fit: scale-down;
    }
  }
  .item-count-selector{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    #add{
      margin-right: 0.5rem;
      margin-left: 0.5rem;
      width: 2rem;
      height: 2rem;
    }
    p{
      border: 1px solid $color-secondary;
      padding: 0.3rem;
    }
  }
  .item-info {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    h5 {
      height: 2rem;
    }
    p{
      margin: 0;
    }
  }
}